[{:module-id :mql,
  :name :mql,
  :output-name "mql.js",
  :entries [io.mantisrx.mql.interfaces.browser],
  :depends-on nil,
  :sources
  ["goog/base.js"
   "goog/debug/error.js"
   "goog/dom/nodetype.js"
   "goog/string/string.js"
   "goog/asserts/asserts.js"
   "goog/reflect/reflect.js"
   "goog/math/long.js"
   "goog/math/integer.js"
   "goog/object/object.js"
   "goog/array/array.js"
   "goog/structs/structs.js"
   "goog/functions/functions.js"
   "goog/math/math.js"
   "goog/iter/iter.js"
   "goog/structs/map.js"
   "goog/uri/utils.js"
   "goog/uri/uri.js"
   "goog/string/stringbuffer.js"
   "cljs/core.cljs"
   "clojure/walk.cljs"
   "instaparse/auto_flatten_seq.cljc"
   "clojure/string.cljs"
   "instaparse/print.cljc"
   "instaparse/failure.cljc"
   "instaparse/util.cljc"
   "instaparse/reduction.cljc"
   "instaparse/combinators_source.cljc"
   "goog/i18n/uchar.js"
   "instaparse/gll.cljc"
   "cljs/tools/reader/impl/utils.cljs"
   "cljs/tools/reader/reader_types.cljs"
   "cljs/tools/reader/impl/inspect.cljs"
   "cljs/tools/reader/impl/errors.cljs"
   "cljs/tools/reader/impl/commons.cljs"
   "cljs/tools/reader.cljs"
   "instaparse/cfg.cljc"
   "instaparse/transform.cljc"
   "goog/string/stringformat.js"
   "instaparse/abnf.cljc"
   "instaparse/viz.cljs"
   "instaparse/repeat.cljc"
   "instaparse/line_col.cljc"
   "instaparse/core.cljc"
   "clojure/set.cljs"
   "cljs/tools/reader/edn.cljs"
   "cljs/reader.cljs"
   "io/mantisrx/mql/util.cljc"
   "io/mantisrx/mql/compilers/core/sampling.cljc"
   "io/mantisrx/mql/compilers/core/window.cljc"
   "io/mantisrx/mql/compilers/core/limit.cljc"
   "io/mantisrx/mql/compilers/core/orderby.cljc"
   "io/mantisrx/mql/transformers.cljc"
   "io/mantisrx/mql/parser.cljc"
   "clojure/zip.cljs"
   "io/mantisrx/mql/optimization.cljc"
   "io/mantisrx/mql/compilers/anomaly.cljc"
   "cljs/nodejs.cljs"
   "io/mantisrx/mql/core.cljc"
   "io/mantisrx/mql/interfaces/browser.cljc"
   "shadow/module/mql/append.js"]}]
