;; shadow-cljs configuration
{:source-paths
 ["src/main/clojure"]

 :dependencies
 [[instaparse "1.4.8"]]

 :builds
 {:library
  {:id :library
   :target :node-library
   :output-to "js/node/mql.js"
   :optimizations :advanced
   :exports
   {:makeQuery io.mantisrx.mql.components/makeQuery
    :project io.mantisrx.mql.components/project
    :matches io.mantisrx.mql.components/matches
    :sample io.mantisrx.mql.components/sample
    :makeSupersetProjector io.mantisrx.mql.components/makeSupersetProjector
    :makeSupersetProjectorMemoized io.mantisrx.mql.components/makeSupersetProjectorMemoized
    }}

  :browser
  {:id :browser
   :target :browser
   :output-to ""
   :asset-path "/"
   :optimizations :advanced
   :modules {:mql
             {:entries [io.mantisrx.mql.interfaces.browser]}}
   }}}
